
/****** Object:  StoredProcedure [dbo].[usp_update_dw_seller_transaction_master]    Script Date: 2023/4/13 下午 03:41:57 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[usp_update_dw_seller_transaction_master] (
   @qStartDate  VARCHAR(8) ,   @qEndDate AS VARCHAR(8) , @isAuto  VARCHAR(1)
  )

	-- Add the parameters for the stored procedure here
	
AS
BEGIN --TRY
	-- SET NOCOUNT ON added to prevent extra result sets from

	SET NOCOUNT ON;
	
	DECLARE @searchStartDate VARCHAR(8) , @searchEndDate VARCHAR(8);

	
	IF @qStartDate = '' 
		SET @searchStartDate = CONVERT(VARCHAR(8), GETDATE()-1,112)	
	ELSE 
		SET @searchStartDate = CONVERT(VARCHAR(8),DATEADD(day, -1, CONVERT(VARCHAR(8), @qStartDate ,112)),112)
	IF @qEndDate = '' 
		SET @searchEndDate = CONVERT(VARCHAR(8), GETDATE()-1,112);
	ELSE 
		SET @searchEndDate = CONVERT(VARCHAR(8),DATEADD(day, -1, CONVERT(VARCHAR(8), @qEndDate ,112)),112) 

	
	IF( @qEndDate < @qStartDate)
		BEGIN
			PRINT '輸入時間錯誤' ; 
			RETURN;

		END
	
	DECLARE @ProcName nvarchar(128);
	SET @ProcName = OBJECT_NAME(@@PROCID);  

	PRINT 'procudure [usp_update_dw_seller_transaction_master] 執行開始!' ;
	IF ( UPPER(@isAuto) ='Y')
    BEGIN
	DECLARE @usp_date varchar(8) 
		-- 若存在，代表不是第一次跑，要檢查最新異動時間是不是前一天，每天都得執行。
		SELECT @usp_date = usp_date FROM usp_execute_info where usp_name = @ProcName 
		IF( @usp_date != '')
		BEGIN
			IF ( (select DATEDIFF(day, @usp_date, @searchEndDate)) <> 1)
			BEGIN
					
					PRINT '即將轉檔的日期為:'+ @searchEndDate ;
					PRINT 'dw交易紀錄最新異動時間為:' + @usp_date  +'，非前一天，不執行!。'; 
					RETURN;
			END
		END
	END
	PRINT '抓取異動日期區間為: '+ @searchStartDate +'-'+ @searchEndDate;
	-- Declare variables used in log.
	DECLARE @updateRow NVARCHAR(MAX) , @insertRow NVARCHAR(MAX), @today  VARCHAR(8);
  SET @today =  CONVERT(VARCHAR(8), GETDATE(),112);
	-- for reun
	IF EXISTS (SELECT 1 FROM dbo.dw_seller_transaction_master WHERE 　CONVERT(VARCHAR(8),update_time,112)	 BETWEEN @searchStartDate and  @searchEndDate) 	
	DELETE FROM dbo.dw_seller_transaction_master WHERE CONVERT(VARCHAR(8),update_time,112) BETWEEN @searchStartDate and  @searchEndDate ;
	
	PRINT '刪除 [dw_seller_transaction_master] 既有資料: ' + CAST(@@ROWCOUNT AS VARCHAR(MAX)) +'筆。';  

	 IF OBJECT_ID('tempdb..#TMPMSETTING') IS NOT NULL
	 DROP TABLE #TMPMSETTING;  
	-- save to tmp table
	 SELECT a.* INTO #TMPMSETTING FROM (

			
		SELECT  
	   tm.tm_id
	  ,tm.tm_txn_no
      ,tm.support_pay_type
      ,tm.pay_type
      ,tm.update_time
      ,tm.tm_paytool
      ,tm.tm_seller_name
      ,tm.tm_amt
      ,tm.tm_dised_amt
      ,tm.tm_type
      ,tm.tm_status
      ,tm.tm_is_self_bank
      ,tm.tm_create_time
	  ,tm.tm_txn_time as  tm_txn_date --賦予和tm_txn_time一樣的值
      ,tm.tm_txn_time
      ,tm.tm_reply_time
      ,tm.tm_is_confirm
      ,tm.tm_disamt
      ,tm.tm_bank_no
      ,tm.tm_stan
      ,tm.tm_qrp_trace_no
      ,tm.tm_qrp_local_time
      ,tm.tm_qrp_rs_code
      ,tm.tm_qrp_rs_message
      ,tm.tm_qrp_reply_time
      ,tm.tm_qrp_system_date_time
      ,tm.tm_result
      ,tm.tm_rs_code
      ,tm.tm_rs_message
      ,tm.tm_carrier_type
      ,tm.tm_store_memo
      ,tm.tm_carrier_id_1
      ,tm.tm_carrier_id_2
      ,tm.tm_srrn
      ,tm.tm_merchant_no
      ,tm.tm_term_no
      ,tm.tm_client_ip
      ,tm.tm_part_refund_count
      ,tm.tm_refunded_amt
      ,tm.tm_tip_amt
      ,tm.tm_pay_amt
      ,tm.tm_currency
      ,tm.tm_auth_code
      ,tm.tm_resp_msg_time
      ,tm.card_type
      ,tm.tm_reconcile_status
      ,tm.tm_is_disbursement
      ,tm.tm_disbursement_no
      ,tm.is_self_card
      ,tm.refund_type
      ,tm.branch_no
      ,tm.modified_date
      ,tm.transaction_date
      ,tm.account_date
      ,tm.acq_receive_time
      ,tm.acq_processed
      ,tm.txn_source
      ,tm.non_promote_amt
      ,tm.card_no_last_digits
      ,tm.expect_disb_date
      ,tm.tm_real_card_no
      ,tm.merchant_account_date
      ,tm.international_transaction
      ,tm.tm_is_epay
      ,tm.tm_is_epay_barcode
		   ,CASE
				WHEN dw.tm_id IS NOT NULL THEN
					'U'
				ELSE
					'A'
			END AS　action_flag
		 

		FROM
			dbo.transaction_master tm 
        left join   dw_seller_transaction_master dw on tm.tm_id = dw.tm_id
		WHERE
		CONVERT(VARCHAR(8),tm.update_time,112) BETWEEN @searchStartDate and  @searchEndDate
		AND tm.txn_source = 'ACQ'

	 ) a
	PRINT '預計轉檔筆數:' + CAST(@@ROWCOUNT AS VARCHAR(MAX));  
    CREATE NONCLUSTERED INDEX ix_action_flag ON #TMPMSETTING (action_flag);
	 -- add to dw table
	IF EXISTS (SELECT 1 FROM #TMPMSETTING WHERE action_flag ='A') 	
    BEGIN
      INSERT INTO [dbo].[dw_seller_transaction_master]
           ([tm_id]
		   ,[tm_txn_no]
           ,[support_pay_type]
           ,[pay_type]
           ,[update_time]
           ,[tm_paytool]
           ,[tm_seller_name]
           ,[tm_amt]
           ,[tm_dised_amt]
           ,[tm_type]
           ,[tm_status]
           ,[tm_is_self_bank]
           ,[tm_create_time]
		   ,[tm_txn_date]
           ,[tm_txn_time]
           ,[tm_reply_time]
           ,[tm_is_confirm]
           ,[tm_disamt]
           ,[tm_bank_no]
           ,[tm_stan]
           ,[tm_qrp_trace_no]
           ,[tm_qrp_local_time]
           ,[tm_qrp_rs_code]
           ,[tm_qrp_rs_message]
           ,[tm_qrp_reply_time]
           ,[tm_qrp_system_date_time]
           ,[tm_result]
           ,[tm_rs_code]
           ,[tm_rs_message]
           ,[tm_carrier_type]
           ,[tm_store_memo]
           ,[tm_carrier_id_1]
           ,[tm_carrier_id_2]
           ,[tm_srrn]
           ,[tm_merchant_no]
           ,[tm_term_no]
           ,[tm_client_ip]
           ,[tm_part_refund_count]
           ,[tm_refunded_amt]
           ,[tm_tip_amt]
           ,[tm_pay_amt]
           ,[tm_currency]
           ,[tm_auth_code]
           ,[tm_resp_msg_time]
           ,[card_type]
           ,[tm_reconcile_status]
           ,[tm_is_disbursement]
           ,[tm_disbursement_no]
           ,[is_self_card]
           ,[refund_type]
           ,[branch_no]
           ,[modified_date]
           ,[transaction_date]
           ,[account_date]
           ,[acq_receive_time]
           ,[acq_processed]
           ,[txn_source]
           ,[non_promote_amt]
           ,[card_no_last_digits]
           ,[expect_disb_date]
           ,[tm_real_card_no]
           ,[merchant_account_date]
           ,[international_transaction]
           ,[tm_is_epay]
           ,[tm_is_epay_barcode])
		
SELECT  
      tm_id
	  ,tm_txn_no
      ,support_pay_type
      ,pay_type
      ,update_time
      ,tm_paytool
      ,tm_seller_name
      ,tm_amt
      ,tm_dised_amt
      ,tm_type
      ,tm_status
      ,tm_is_self_bank
      ,tm_create_time
	  ,tm_txn_date  
      ,tm_txn_time
      ,tm_reply_time
      ,tm_is_confirm
      ,tm_disamt
      ,tm_bank_no
      ,tm_stan
      ,tm_qrp_trace_no
      ,tm_qrp_local_time
      ,tm_qrp_rs_code
      ,tm_qrp_rs_message
      ,tm_qrp_reply_time
      ,tm_qrp_system_date_time
      ,tm_result
      ,tm_rs_code
      ,tm_rs_message
      ,tm_carrier_type
      ,tm_store_memo
      ,tm_carrier_id_1
      ,tm_carrier_id_2
      ,tm_srrn
      ,tm_merchant_no
      ,tm_term_no
      ,tm_client_ip
      ,tm_part_refund_count
      ,tm_refunded_amt
      ,tm_tip_amt
      ,tm_pay_amt
      ,tm_currency
      ,tm_auth_code
      ,tm_resp_msg_time
      ,card_type
      ,tm_reconcile_status
      ,tm_is_disbursement
      ,tm_disbursement_no
      ,is_self_card
      ,refund_type
      ,branch_no
      ,modified_date
      ,transaction_date
      ,account_date
      ,acq_receive_time
      ,acq_processed
      ,txn_source
      ,non_promote_amt
      ,card_no_last_digits
      ,expect_disb_date
      ,tm_real_card_no
      ,merchant_account_date
      ,international_transaction
      ,tm_is_epay
      ,tm_is_epay_barcode
	   FROM #TMPMSETTING WHERE action_flag ='A'

		
    END
SET @insertRow = CAST(@@ROWCOUNT AS VARCHAR(MAX));
	 -- update to dw table
	IF EXISTS (SELECT 1 FROM #TMPMSETTING WHERE action_flag ='U') 	
	BEGIN
		UPDATE t1 set
	　 t1.tm_txn_no = t2.tm_txn_no
      ,t1.support_pay_type = t2.support_pay_type
      ,t1.pay_type = t2.pay_type
      ,t1.update_time = t2.update_time
      ,t1.tm_paytool = t2.tm_paytool
      ,t1.tm_seller_name = t2.tm_seller_name
      ,t1.tm_amt = t2.tm_amt
      ,t1.tm_dised_amt = t2.tm_dised_amt
      ,t1.tm_type = t2.tm_type
      ,t1.tm_status = t2.tm_status
      ,t1.tm_is_self_bank = t2.tm_is_self_bank
      ,t1.tm_create_time = t2.tm_create_time
	  ,t1.tm_txn_date = t2.tm_txn_date
      ,t1.tm_txn_time = t2.tm_txn_time
      ,t1.tm_reply_time = t2.tm_reply_time
      ,t1.tm_is_confirm = t2.tm_is_confirm
      ,t1.tm_disamt = t2.tm_disamt
      ,t1.tm_bank_no = t2.tm_bank_no
      ,t1.tm_stan = t2.tm_stan
      ,t1.tm_qrp_trace_no = t2.tm_qrp_trace_no
      ,t1.tm_qrp_local_time = t2.tm_qrp_local_time
      ,t1.tm_qrp_rs_code = t2.tm_qrp_rs_code
      ,t1.tm_qrp_rs_message = t2.tm_qrp_rs_message
      ,t1.tm_qrp_reply_time = t2.tm_qrp_reply_time 
      ,t1.tm_qrp_system_date_time = t2.tm_qrp_system_date_time
      ,t1.tm_result = t2.tm_result
      ,t1.tm_rs_code = t2.tm_rs_code
      ,t1.tm_rs_message = t2.tm_rs_message
      ,t1.tm_carrier_type = t2.tm_carrier_type
      ,t1.tm_store_memo = t2.tm_store_memo
      ,t1.tm_carrier_id_1 = t2.tm_carrier_id_1
      ,t1.tm_carrier_id_2 = t2.tm_carrier_id_2
      ,t1.tm_srrn = t2.tm_srrn
      ,t1.tm_merchant_no = t2.tm_merchant_no
      ,t1.tm_term_no = t2.tm_term_no
      ,t1.tm_client_ip = t2.tm_client_ip
      ,t1.tm_part_refund_count = t2.tm_part_refund_count
      ,t1.tm_refunded_amt = t2.tm_refunded_amt
      ,t1.tm_tip_amt = t2.tm_tip_amt
      ,t1.tm_pay_amt = t2.tm_pay_amt
      ,t1.tm_currency = t2.tm_currency
      ,t1.tm_auth_code = t2.tm_auth_code
      ,t1.tm_resp_msg_time = t2.tm_resp_msg_time
      ,t1.card_type = t2.card_type
      ,t1.tm_reconcile_status = t2.tm_reconcile_status
      ,t1.tm_is_disbursement = t2.tm_is_disbursement
      ,t1.tm_disbursement_no = t2.tm_disbursement_no
      ,t1.is_self_card = t2.is_self_card
      ,t1.refund_type = t2.refund_type
      ,t1.branch_no = t2.branch_no
      ,t1.modified_date = t2.modified_date
      ,t1.transaction_date = t2.transaction_date
      ,t1.account_date = t2.account_date
      ,t1.acq_receive_time = t2.acq_receive_time
      ,t1.acq_processed = t2.acq_processed
      ,t1.txn_source = t2.txn_source
      ,t1.non_promote_amt = t2.non_promote_amt
      ,t1.card_no_last_digits = t2.card_no_last_digits
      ,t1.expect_disb_date = t2.expect_disb_date
      ,t1.tm_real_card_no = t2.tm_real_card_no
      ,t1.merchant_account_date = t2.merchant_account_date
      ,t1.international_transaction = t2.international_transaction
      ,t1.tm_is_epay = t2.tm_is_epay
      ,t1.tm_is_epay_barcode = t2.tm_is_epay_barcode
	
		FROM dbo.[dw_seller_transaction_master] t1 INNER JOIN #TMPMSETTING t2 ON t1.tm_id = t2.tm_id WHERE t2.action_flag = 'U' ; 
		
           
	END
SET @updateRow = CAST(@@ROWCOUNT AS VARCHAR(MAX));  
	PRINT '新增筆數:' + @insertRow  ;
	PRINT '更新筆數:' + @updateRow ;
	PRINT 'procudure [usp_update_dw_seller_transaction_master] 執行結束!' 



	IF EXISTS (SELECT 1 FROM usp_execute_info WITH (nolock) where usp_name = @ProcName)
		UPDATE usp_execute_info SET usp_date = @searchEndDate WHERE usp_name = @ProcName AND usp_date < @searchEndDate
	ELSE 
		INSERT INTO usp_execute_info (usp_name , usp_date) VALUES (@ProcName , @searchEndDate)



END --TRY
/**
BEGIN CATCH
	SELECT  
        ERROR_NUMBER() AS ErrorNumber      
        ,ERROR_PROCEDURE() AS ErrorProcedure  
        ,ERROR_LINE() AS ErrorLine  
        ,ERROR_MESSAGE() AS ErrorMessage;  
	

END CATCH
**/







GO


