

/****** Object:  StoredProcedure [dbo].[usp_update_dw_seller_transaction_purchase_refund]    Script Date: 2023/4/13 下午 03:43:22 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[usp_update_dw_seller_transaction_purchase_refund] (
   @qStartDate  VARCHAR(8) ,   @qEndDate AS VARCHAR(8) , @isAuto  VARCHAR(1)
  )

	-- Add the parameters for the stored procedure here
	
AS
BEGIN --TRY
	-- SET NOCOUNT ON added to prevent extra result sets from

	SET NOCOUNT ON;
	
	DECLARE @searchStartDate VARCHAR(8) , @searchEndDate VARCHAR(8);

	
	IF @qStartDate = '' 
		SET @searchStartDate = CONVERT(VARCHAR(8), GETDATE()-1,112)	
	ELSE 
		SET @searchStartDate = CONVERT(VARCHAR(8),DATEADD(day, -1, CONVERT(VARCHAR(8), @qStartDate ,112)),112)
	IF @qEndDate = '' 
		SET @searchEndDate = CONVERT(VARCHAR(8), GETDATE()-1,112);
	ELSE 
		SET @searchEndDate = CONVERT(VARCHAR(8),DATEADD(day, -1, CONVERT(VARCHAR(8), @qEndDate ,112)),112) 

   IF( @qEndDate < @qStartDate)
		BEGIN
			PRINT '輸入時間錯誤' ; 
			RETURN;

	END
	
		
	DECLARE @ProcName nvarchar(128);
	SET @ProcName = OBJECT_NAME(@@PROCID); 

	PRINT 'procudure [usp_update_dw_seller_transaction_purchase_refund] 執行開始!' ;

	IF ( UPPER(@isAuto) ='Y')
    BEGIN
	DECLARE @usp_date varchar(8) 
		-- 若存在，代表不是第一次跑，要檢查最新異動時間是不是前一天，每天都得執行。
		SELECT @usp_date = usp_date FROM usp_execute_info where usp_name = @ProcName 
		IF( @usp_date != '')
		BEGIN
			IF ( (select DATEDIFF(day, @usp_date, @searchEndDate)) <> 1)
			BEGIN
					
					PRINT '即將轉檔的日期為:'+ @searchEndDate ;
					PRINT 'dw交易紀錄最新異動時間為:' + @usp_date  +'，非前一天，不執行!。'; 
					RETURN;
			END
		END
	END

	PRINT '抓取異動日期區間為: '+ @searchStartDate +'-'+ @searchEndDate;
	-- Declare variables used in log.
	DECLARE @updateRow NVARCHAR(MAX) , @insertRow NVARCHAR(MAX), @today  VARCHAR(8);
  SET @today =  CONVERT(VARCHAR(8), GETDATE(),112);
	-- for reun
	IF EXISTS (SELECT 1 FROM [dbo].[dw_seller_transaction_purchase_refund] WHERE  CONVERT(VARCHAR(8), tpr_txn_time ,112) BETWEEN @searchStartDate and  @searchEndDate) 	
	DELETE FROM [dbo].[dw_seller_transaction_purchase_refund] WHERE CONVERT(VARCHAR(8), tpr_txn_time ,112)	 BETWEEN @searchStartDate and  @searchEndDate ;
	
	PRINT '刪除 [dw_seller_transaction_purchase_refund] 既有資料: ' + CAST(@@ROWCOUNT AS VARCHAR(MAX)) +'筆。';  

	 IF OBJECT_ID('tempdb..#TMPMSETTING') IS NOT NULL
	 DROP TABLE #TMPMSETTING;  
	-- save to tmp table
	 SELECT a.* INTO #TMPMSETTING FROM (

		SELECT
		   tpr.tpr_id		
		  ,tpr.tpr_amt
		  ,tpr.tpr_tm_id
		  ,tpr.tpr_refund_tm_id
		  ,tpr.tpr_refund_tp_id
		  ,tpr.tpr_remark
		  ,tpr.tpr_seller_master_id
		  ,tpr.tpr_create_time
		  ,tpr.tpr_txn_time as tpr_txn_date --賦予tpr_txn_time一樣的值
		  ,tpr.tpr_txn_time
		  ,tpr.tpr_fee
		  ,tpr.tpr_acc_date
		  ,tpr.tpr_is_pos
		  ,tpr.tpr_terminal_id
		  ,tpr.tpr_lanuch_from
		  ,tpr.tpr_is_order
		  ,tpr.tpr_rate
		  ,tpr.tpr_divided_fee
		  ,tpr.tpr_host_order_no
		  ,tpr.tpr_is_refund_payment
		  ,tpr.tpr_refund_payment_id
		   ,CASE
				WHEN dw.tpr_id IS NOT NULL THEN
					'U'
				ELSE
					'A'
			END AS　action_flag
		 

		FROM
		dbo.transaction_purchase_refund tpr
	    left join   [dw_seller_transaction_purchase_refund]  dw on tpr.tpr_id  = dw.tpr_id
		WHERE
		CONVERT(VARCHAR(8), tpr.tpr_txn_time ,112)	BETWEEN @searchStartDate and  @searchEndDate


	 ) a
	PRINT '預計轉檔筆數:' + CAST(@@ROWCOUNT AS VARCHAR(MAX));  
    CREATE NONCLUSTERED INDEX ix_action_flag ON #TMPMSETTING (action_flag);
	 -- add to dw table
	IF EXISTS (SELECT 1 FROM #TMPMSETTING WHERE action_flag ='A') 	
    BEGIN
	
INSERT INTO [dbo].[dw_seller_transaction_purchase_refund]
           ([tpr_id]
		   ,[tpr_amt]
           ,[tpr_tm_id]
           ,[tpr_refund_tm_id]
           ,[tpr_refund_tp_id]
           ,[tpr_remark]
           ,[tpr_seller_master_id]
           ,[tpr_create_time]
		   ,[tpr_txn_date]
           ,[tpr_txn_time]
           ,[tpr_fee]
           ,[tpr_acc_date]
           ,[tpr_is_pos]
           ,[tpr_terminal_id]
           ,[tpr_lanuch_from]
           ,[tpr_is_order]
           ,[tpr_rate]
           ,[tpr_divided_fee]
           ,[tpr_host_order_no]
           ,[tpr_is_refund_payment]
           ,[tpr_refund_payment_id])
  SELECT 
      tpr_id
	  ,tpr_amt
      ,tpr_tm_id
      ,tpr_refund_tm_id
      ,tpr_refund_tp_id
      ,tpr_remark
      ,tpr_seller_master_id
      ,tpr_create_time
	  ,tpr_txn_date
      ,tpr_txn_time
      ,tpr_fee
      ,tpr_acc_date
      ,tpr_is_pos
      ,tpr_terminal_id
      ,tpr_lanuch_from
      ,tpr_is_order
      ,tpr_rate
      ,tpr_divided_fee
      ,tpr_host_order_no
      ,tpr_is_refund_payment
      ,tpr_refund_payment_id
	   FROM #TMPMSETTING WHERE action_flag ='A'

		
    END
SET @insertRow = CAST(@@ROWCOUNT AS VARCHAR(MAX));
	 -- update to dw table
	IF EXISTS (SELECT 1 FROM #TMPMSETTING WHERE action_flag ='U') 	
	BEGIN
		UPDATE t1 set
		   t1.tpr_amt = t2.tpr_amt
		  ,t1.tpr_tm_id = t2.tpr_tm_id
		  ,t1.tpr_refund_tm_id = t2.tpr_refund_tm_id
		  ,t1.tpr_refund_tp_id = t2.tpr_refund_tp_id
		  ,t1.tpr_remark = t2.tpr_remark
		  ,t1.tpr_seller_master_id = t2.tpr_seller_master_id
		  ,t1.tpr_create_time = t2.tpr_create_time
		  ,t1.tpr_txn_date = t2.tpr_txn_date
		  ,t1.tpr_txn_time = t2.tpr_txn_time
		  ,t1.tpr_fee = t2.tpr_fee
		  ,t1.tpr_acc_date = t2.tpr_acc_date
		  ,t1.tpr_is_pos = t2.tpr_is_pos
		  ,t1.tpr_terminal_id = t2.tpr_terminal_id
		  ,t1.tpr_lanuch_from = t2.tpr_lanuch_from
		  ,t1.tpr_is_order = t2.tpr_is_order
		  ,t1.tpr_rate = t2.tpr_rate
		  ,t1.tpr_divided_fee = t2.tpr_divided_fee
		  ,t1.tpr_host_order_no = t2.tpr_host_order_no
		  ,t1.tpr_is_refund_payment = t2.tpr_is_refund_payment
		  ,t1.tpr_refund_payment_id = t2.tpr_refund_payment_id
		FROM dbo.[dw_seller_transaction_purchase_refund] t1 INNER JOIN #TMPMSETTING t2 ON t1.tpr_id = t2.tpr_id WHERE t2.action_flag = 'U' ; 
		
           
	END
SET @updateRow = CAST(@@ROWCOUNT AS VARCHAR(MAX));  
	PRINT '新增筆數:' + @insertRow  ;
	PRINT '更新筆數:' + @updateRow ;
	PRINT 'procudure [usp_update_dw_seller_transaction_purchase_refund] 執行結束!' 



	IF EXISTS (SELECT 1 FROM usp_execute_info WITH (nolock) where usp_name = @ProcName)
		UPDATE usp_execute_info SET usp_date = @searchEndDate WHERE usp_name = @ProcName AND usp_date < @searchEndDate
	ELSE 
		INSERT INTO usp_execute_info (usp_name , usp_date) VALUES (@ProcName , @searchEndDate)



END --TRY
/**
BEGIN CATCH
	SELECT  
        ERROR_NUMBER() AS ErrorNumber      
        ,ERROR_PROCEDURE() AS ErrorProcedure  
        ,ERROR_LINE() AS ErrorLine  
        ,ERROR_MESSAGE() AS ErrorMessage;  
	

END CATCH
**/







GO


